<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/geekbrains_internship_15_1_db</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.username">GBUser</property>
        <property name="connection.password">GBUser</property>
        <property name="show_sql">true</property>
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <mapping class="com.web.service.hibernate.Keywords"/>
        <mapping class="com.web.service.hibernate.Pages"/>
        <mapping class="com.web.service.hibernate.PersonPageRank"/>
        <mapping class="com.web.service.hibernate.Persons"/>
        <mapping class="com.web.service.hibernate.Sites"/>
        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>